body {
	background-color: rgba(197, 238, 253, 0.24);
	height: auto;
}

/* ----- NAVBAR ELEMENTS ----- */

/* THE NAVBAR CONTAINER */
	.navbar-default {
		/*background-color: rgba(60, 110, 178, 1);*/
		background-color: rgb(43, 133, 255);
		border-color: none !important;
		height: 57px;
		padding: 2.5px 0;

		-moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35);
		-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35);
		box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35);
	}
	
	/* A DROPDOWN MENU*/
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
		/*background-color: rgba(60, 110, 178, 1) !important;*/
		background-color: rgb(43, 133, 255);
		color: #ffffff !important;	
	}

	.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
		color: #ffffff !important;
		/*background-color: rgba(60, 110, 178, 1) !important;*/
		background-color: rgb(43, 133, 255);
	}

	/* TOGGLED NAVBAR - SMALL SCREENS*/
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: rgba(255, 255, 255, 0.36);
	}

	.navbar-default .navbar-toggle {
		border: none;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #ffffff;
	}

	/* LOGO AREA */
	.navbar-default .navbar-brand {
		color: #ffffff;
		font-weight: bold;
		font-size: 150%;
	}

	.navbar-brand {
		padding: 0 !important;
	}

	.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
		color: #90CAF9;
	}	

	/* ANCHOR ELEMENTS*/
	.navbar-default .navbar-nav>li>a {
		color: #ffffff;
		/*background-color: rgba(60, 110, 178, 1);*/
		background-color: rgb(43, 133, 255);
	}
		.nav>li>a {
				padding: 15px 15px;
		}

	.navbar-default .navbar-nav > .active > a {
		/*border-bottom: 2px solid #ffffff !important;*/
	}	

	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
		color: #ffffff;
		/*background-color: rgba(60, 110, 178, 1);*/
		background-color: rgb(23, 105, 216);
		/*border-bottom: 2px solid #ffffff !important;*/
	}

	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
		/*background-color: rgba(60, 110, 178, 1);*/
		background-color: rgb(23, 105, 216);
		color: 	#ffffff;
		font-weight: bold;
	}

	/* DIFFERENT MEDIA QUERIES */
	@media (max-width: 768px) {
		.navbar-brand {
			padding: 15px 5px;
			margin-left: 15px;
		}		

		.navbar-nav .open .dropdown-menu {
			/*background-color: rgba(60, 110, 178, 1);*/
			background-color: rgb(43, 133, 255);
		}

		.navbar-default .navbar-nav .open .dropdown-menu>li>a {
			color: #ffffff !important;
		}

			.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
				/*border-bottom: 1px solid #ffffff;*/
				background-color: rgb(23, 105, 216);
			}
	}

	@media (min-width: 634px) and (max-width: 768px) {
		.navbar-toggle {
			margin-right: 15px;
		}
	}

	@media (min-width: 259px) and (max-width: 280px) {
		.navbar-brand {
			font-size: 145% !important;
		}
	}

	@media (min-width: 259px) {
		.page-content {
			padding: 0 !important;
		}
	}

	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding: 0 2px !important;
	}

/* ----- THE END OF NAVBAR ELEMENTS ----- */

/* ----- CONTAINERS ----- */

.page-container {
	margin: 70px auto 10px auto;
}

.page-content {
	padding: 10px;
	background-color: none;
}

.element-container {
	padding: 10px;
	background-color: #ffffff;
	margin: 15px 0;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35);
	z-index: 999999;	
}

@media (max-width: 768px) {
	.page-container {
		margin: 54px auto;
	}

	.container {
		padding: 0 3px 0 3px;
	}
}

/* ----- PAGE ELEMENT ----- */

.frame {
	background-color: #f8f8f8;
	
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	
	padding: 8px;

	-webkit-box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.16);
	box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.16);	
}


/* ----- HOMEPAGE ELEMENTS ----- */
a.create-app {
	text-decoration: none;
	font-weight: bold;
}

.hpage-content {
	/*background-color: rgba(255, 255, 255, 0.91) !important;*/
	background-color: rgba(255, 255, 255, 0.8) !important;
}

div.hpage-bground { 
  position: fixed;
  top: 0;
  z-index: -99;
  width: 100%;
  height: 100%;
  /* Location of the image */
  background-image: url(../img/slider/slide1.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
}


/* ----- LOGIN ELEMENTS ----- */

div.login-bground { 
  position: fixed;
  z-index: -99;
  width: 100%;
  height: 100%;
  /* Location of the image */
  background-image: url(../img/slider/slide4.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
}


.fget-pword-link {
	float:right; 
	font-size: 80%; 
	font-weight: normal !important;
	position: relative; 
	text-decoration: none !important;	
}

.login-main-slider {
	margin: 100px;
}

.login-loginbox {
	margin-top: 200px;
}

.login-errormsg {
	color: red; 
	margin-;	
}

.login-panel {
	border: none !important;
	/*background-color: rgba(60, 110, 178, 0.58) !important;*/
	/*background-color: rgba(43, 133, 255, 0.51) !important;*/
	background-color: rgba(36, 113, 216, 0.78);

	-moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.6);
}
/* ----- ABOUT US PAGE ----- */

.about-us-content {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
		.italicized {
			font-style: italic;
		}

.about-us-frame {
	background-color: #ffffff;
}

/* ----- PANEL COMPONENT ----- */

.panel {
	margin-bottom: 5px;
}

.panel-heading {
	font-weight: bold;
}

/*

.panel-title {
	font-weight: bold;
}

.panel-info {
	border: none;
}

.panel-default {
	width: auto;
	margin: 5px;

	-webkit-box-shadow: 1px 1px 4px #605B5B;
	-moz-box-shadow: 1px 1px 4px #605B5B;
	box-shadow: 1px 1px 4px #605B5B;	
}

.panel-heading {
	text-align: center;
	color: #ffffff !important;
	font-weight: bold;
	font-size: 110%;
	background-color: rgba(64, 162, 70, 0.88) !important;
	
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.panel-body {
	text-align: center;
}

.panel-info>.panel-heading {
	border: none;
}
*/
/* ----- PROFILE ----- */
.pprofile-name {
	color: 	#ffffff;
	font-weight: bold;
}

.pprofile-content {
	margin-top: 10px;
}

.group-title {
	/*background-color: rgba(60, 110, 178, 0.85);*/
	background-color: rgb(36, 113, 216);
	padding: 10px;
	color: white;
	border-radius: 5px;
	margin-top: 0;
}



/* ----- FOR PAGES WHICH USE element-container(to remove the top margin) ----- */
.nomargin-element-container {
	margin: 0;
}


/* ----- MODAL ELEMENTS ----- */
.modal-backdrop {
	z-index: -10;
}

.modal-btn-grp {
	display: flex;
	list-style: none;
	padding-left: 0;
	margin: 10px 0;
}

	.modal-btn-grp li {
		margin: 0 2px 0 0;
	}

/* ----- CALENDAR ELEMENTS ----- */

	.calendar{
	font-family: "Helvetica Neue Bold", arial, helvetica, sans-serif;
	font-size: 100%;
	margin: 10px;
	color: #333;
	background-color: #ffffff;
		/*font-family:Arial;font-size 12px;*/
		}
		table.calendar{
		
			margin:auto; border-collapse: collapse;
			
		}
		.calendar .days td{
		 width: 100px; height:100px; paddings: 5px;
		
			
	position: relative;
	
	background-color: #fff;
		border-radius: 0.6em;
	box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
	overflow: hidden;
		}
		
		.calendar .days td:hover{
		cursor: pointer;
		background-color: green;
		 }
		 
		.calendar .day_num{
		 display: block;
		width: 100%;
		font-size: 2em;
		font-weight: normal;
		font-style: normal;
		text-align: center;
			}
			
			
		.calendar .highlight{
		  font-weight: bold; color: #00F;
		}
		
		.calendar.weekday{
			background-color:red;
			}
		
/* ----- RADIOS / CHECKBOXES ----- */
.radio, .checkbox {
	margin-top: 0;
}

label.error {
	color: red;
	display: flex;
}

/* SERVICES PAGE */
.list-grp-services {
	margin-bottom: 0;
}

.dboard-jumbotron {
	background-image: url("../img/dboard/tools.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* TEETH PROFILE */
	.tooth-elem {
		width: 75px !important;
	}

	.tooth {
		width: 62px;
		height: 63px;
		position: relative;
		margin: 0 auto;
	}	

	.top, .bottom {
		position: absolute;
		height: 23px; 
		width: 42px;
	}

	.top {
		top: 0;
		left: 10px;		
	}
		.top {
			background-image: url(../img/teethprofile/top.png);
		}

		/*.top:hover {
			background-image: url(../img/teethprofile/tophover.png);
			cursor: pointer;
		}*/

	.bottom {
		bottom: 0;
		left: 10px;
	}
		.bottom {
			background-image: url(../img/teethprofile/bottom.png);
		}

		/*.bottom:hover {
			background-image: url(../img/teethprofile/bottomhover.png);
			cursor: pointer;
		}*/
	
	.left, .right {
		position: absolute;
		height: 41px;
		width: 23px;
		top: 11px;
	}

	.right {
		right: 0;
	}
		.right {
			background-image: url(../img/teethprofile/right.png);
		}

		/*.right:hover {
			background-image: url(../img/teethprofile/righthover.png);
			cursor: pointer;
		}*/

	.left {
		left: 0;
	}
		.left {
			background-image: url(../img/teethprofile/left.png);
		}

		/*.left:hover {
			background-image: url(../img/teethprofile/lefthover.png);
			cursor: pointer;
		}*/

	.center {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 22px;
		height: 22px;
	}
		.center {
			background-image: url(../img/teethprofile/center.png);
		}

		/*.center:hover {
			background-image: url(../img/teethprofile/centerhover.png);
			cursor: pointer;
		}*/

	.tooth-label {
		font-weight: bold;
		font-size: 16px;
		background-color: rgb(36, 113, 216);
		color: #ffffff;
		cursor: default;
	}

	.tooth-elem {
		border: none !important;
	}
/* END OF TEETH PROFILE */

/* APPOINTMENT VIEW ELEMENTS */
.appointment-form {
	z-index: 1;
}
/* END OF APPOINTMENT VIEW ELEMENTS */


/* TABLE ELEMENTS */
.teethprof-table {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.tooth-num {
	border: 1px solid rgb(221, 221, 221) !important;
}

.large-tables {
	padding: 10px;
}

.vertical-middle-align {
 vertical-align: middle !important;
}

.td-total {
	border-top: none !important;
}
/* END OF TABLE ELEMENTS */

/* BUTTONS */
.add-btn {
	margin-bottom: 15px;
}

.table-btn {
	width: 120px;
}

.table-btn-users {
	width: 150px;
}
/* END OF BUTTONS */

/* FORM ELEMENTS */
.form-elem {
	margin-top: 5px;
}

textarea {
	resize: none;
}
/* END OF FORM ELEMENTS */

/* NAVBAR COLLAPSING */
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
/* END OF NAVBAR COLLAPSE */

/* REPORTS ELEMENTS */
.scroll-select {
	height:230px;
	width:100%;
	color:#555;
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:4px;
	overflow-y: scroll;
}
	.status-tally {
		height: 100px;
		overflow: auto;
	}

.months-select {
	overflow: auto;
}

.legend-name {
	margin-top: 20px;
}

.legend-elem {
	background-color:rgba(220,220,220,0.75);
	width:10px;
	height:10px;
	position:absolute;
	left:5px;
	right:5px
}

.results-container {
	margin-top: -10px;
}

.gender-age-tally {
	height:100px;
	width:100%;
	display:none;
	color:#555;
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:4px;
	overflow-y: scroll	
}

.senior-citizen{
	background-color:#FDB45C
}

.adults{
	background-color:#46BFBD
}

.child{
	background-color:#F7464A
}
/* END OF REPORTS ELEMENTS */
